
// ==========================================================================
// General
// ==========================================================================
.btn {
  background-color: $grey;
  color: $charcoal;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-primary;
  }
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem $color-primary;

}

.btn-search {
  background-color: $grey-medium;
}

.more-link {
  position: relative;
  @extend .float-right;
  padding: 15px 15px 14px 15px;
  margin-top: 10px;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    text-decoration: underline;
  }

  a::after {
    top: -18px;
    right: -47px;
  }
}
