// // Styling of header region.

#page .site-header {
  height: auto;
  position: relative;

  section {
    position: relative;
  }

  // Topbar
  // =============================================
  .topbar {
    @include transition(transform $speed $ease);
    z-index: $z-overlay + 1;
    margin-top: -10px;
    background-color: transparent;
    width: 100%;
    position: relative;
    box-shadow: none;
  }

  .navigation-wrapper {
    background-color: transparent;
    width: 100%;
    height: auto;
    top: 0;

    @media  #{$tablet} {
      padding: 0;
      top: 23px;
    }
    @media  #{$normal} {
      padding: 13px;
      top: 0;
    }

     
  .navigation-inner {
    background-color: $color-secondary;
    max-width: 1237px;
    height: 70px;
    position: absolute;
    top: 25px;

    @media  #{$tablet} {
      left: 2px;
      position: relative;
      height: 70px;
      top: 5px;
    }

    @media #{$wide} {
      position: relative;
      height: 55px;
      top: -20px;
      left: -3px;
    }

    .navbar {
      position: initial;
      @media #{$wide}, #{$normal} {
        position: relative;
      }
    }

    .pane-search-form {
      float: right;
      top: -10px;
      z-index: 1;

      @media #{$wide}, #{$normal} {
        top: -22px;
      }
 
       .pane-content {
          margin: 0;
          height: auto;
 
          .form-custom {
            display: block;
            padding: 0 20px;
            @media #{$wide}, #{$normal} {
              padding: 0;
            }
 
            .form-item-search-block-form {
              display: inline-block;

              @media #{$wide}, #{$normal} {
                float: right;
                width: auto;
              }
 
              input.auto-submit {
                width: 100%;
                margin-right: 0;
                background-color: $charcoal;
                color: $color-primary;

                ::placeholder {
                  color: $color-primary;
                }
                @media #{$wide}, #{$normal} {
                  max-width: 200px;
                }
              }

              input {
                border-radius: inherit;
              }
            }
          }
        }

        .form-actions {
          @media #{$wide}, #{$normal} {
            float: right;
          }
          input#edit-submit {
            background: $color-primary;
            color: $white;
            text-transform: uppercase;
            font-family: "SourceSansProSemibold";
            border-radius: inherit;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.not-front ul.main-menu {
  ul.main-menu {
    display: none;
  }
}
