.content-wrapper {
  .frontpage-layout .panel-pane-inner, 
  .left-sidebar.default-layout .layout-wrapper,
  .pane-page-content  {
    width: 100%;

    @media #{$wide}, #{$normal} {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 0 20px;
    }
  }
}

//mixin 
@mixin wrapper() {
  @include outer-container;
  width: $wrapper-width;
}

@mixin outer-container {
  @include clearfix;
  max-width: $max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

html, body {
  font-family: $font-family;
  height: 100%;
  background-image: url(../background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

a:link {
  color: $charcoal-lighter;

  &:hover {
    color: $charcoal-lighter;
    text-decoration: none;
  }
}

.pane-node-field-ding-event-materials {
  display: none;
}

#page .site-header .topbar-inner .site-name-container.logo-container  {
  .site-name {
    color: $white;
    display: block;
    margin-left: 95px;
    top: 21px;
    position: relative;
    z-index: 1;

    @media #{$wide}, #{$normal} {
    margin-left: 125px;
    top: 0;
    }
  }
}

