.content-wrapper {
  .frontpage-layout .panel-pane-inner, 
  .left-sidebar.default-layout .layout-wrapper,
  .pane-page-content  {
    width: 100%;

    @media #{$wide}, #{$normal} {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      padding: 0 20px;
    }
  }
}

//mixin 
@mixin wrapper() {
  @include outer-container;
  width: $wrapper-width;
}

@mixin outer-container {
  @include clearfix;
  max-width: $max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

html, body {
  font-family: $font-family;
  height: 100%;
}

a:link {
  color: $charcoal-lighter;

  &:hover {
    color: $charcoal-lighter;
    text-decoration: none;
  }
}
