/* Event calendar styles
   ========================================================================== */

.pane-ding-event-calendar-ding-event-calendar {
  .slick-prev:before, .slick-next:before {
    color: $color-primary;
    font-size: 30px;
    position: relative;
    top: -11px;
  }
  #eventsCalendar {

    h2 {
      text-transform: lowercase;
      color: $charcoal;
      font-family: $font-family-bold;
    }

    #calendar{
      .calendar-row {
        .calendar-day-head {
          background-color: $grey-medium;
          color: $charcoal;
          text-transform: lowercase;
        }

        .calendar-day-np {
          background-color: $grey-light;
        }

        .calendar-day {
          background-color: $grey;    
          color: $white;
          text-decoration: underline;
          border-color: #bbbbbb;
        }

        .has-events {
          background-color: $grey-dark;
        }

        td.calendar-day.has-events.selected {
         background-color: $color-primary;

          a {
           color: $charcoal;
          }
        }
      }
    }
  }

  #eventList {
    border: none;
    .event-day-header {
      color: $charcoal;
      font-size: 20px;
    }
    .event-items {
      .event-item {
        background-color: $grey-dark;
        border-bottom: 1px solid #bbbbbb;

        &:after{
          content: ".";
          visibility: hidden;
          display: block;
          height: 0;
          clear: both;
        }
      }

      .event-time {
        color: $white;
        line-height: 2.5;
        float: left;
        font-size: $font-size-normal;
      }

      .info-event .event-location {
        float: left;
        color: $white;
        margin-right: 10px;
        width: auto;

        a {
          color: $white;
          line-height: 2.5;
          font-family: $font-family-bold;
          font-size: $font-size-normal;
        }

        &:before {
          content: "(";
          color: $white;
        }

        &:after {
          content: ")";
          color: $white;
        }
      }

      .event-category {
        display: none;
      }

      .event-title {
        float: left;
        width: auto;

        a {
          color: $color-primary;
          text-decoration: none;
          font-family: $font-family-bold;
          font-size: $font-size-normal;

        }
      }

      .info-event {
        float: left;
        width: auto;
      }
    }

    .more-link  {
      display: block;
      float: none;
      font-family: $font-family-bold;
      background-color: transparent;
      color: $charcoal;
      text-align: right;

      &:hover {
        text-decoration: underline;
      }

      a:link,
      a {
        color: $charcoal;
      }
    }
  }
}
