/* Ding nodelist styles
   ========================================================================== */

.page-ding-frontpage .ding_nodelist-carousel {
  .ding_nodelist-items {
    .event-image img {
      height: 500px;
    }
  }
}

.ding_nodelist {
  .event-time .event-day,
  .pagination a.selected,
  .field-name-field-ding-event-category {
   background-color: $color-primary;
    color: $charcoal;
    font-family: $font-family-bold;
    text-transform: uppercase;
  }

  &.ding_nodelist-carousel {
    .slick-dots li.slick-active a {
      color: $charcoal;
      line-height: 1.8;
    }

    .slick-dots {
      width: auto;
      height: 30px;


       li a {
        background-color: $white;
        color: $charcoal;
      }

      li.slick-active a {
        background: $color-primary;
      }
    }

    .slick-arrow {
      color: $color-primary;
      z-index: 1;
    }
  } 

  .pagination {
    top: 30px;

    a {
      background-color: $white;
  
      span {
       color: $charcoal;
      }
    }
  }

  .event-day {
    font-family: $font-family-bold;
  }

  .event-date,
  .event-month {
    color: $charcoal;
    text-transform: uppercase;
  }

  .event-date{
    font-family: $font-family-bold;
  }

  .event-time {
    width: 50px;

    .event-month {
    font-size: 9px;
    }
  }

  .field-name-field-ding-news-library {
    .field-item a {
      color: $color-primary;
    }
  }

  .library a {
    color: $color-primary;
    text-decoration: underline;
    font-family: $font-family-bold;
  }

  h3.node-title {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .article-info {
    background: transparent;
  }

  span {
    font-family: $font-family-bold;
    font-size: $font-size-max;
  }

  &.ding_nodelist-taxonomy .item {
    margin-bottom: 20px;
  }

  .item .node {
    background-image: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.3) 0%);
    height: 100%;

    .item-date,
    .library a,
    .item-price {
      font-size: $font-size-max;
      font-family: $font-family-bold;
    }

    p {
      font-size: $font-size-max;
    }

    .node-title a {
      font-family: $font-family-bold;

      &:hover {
        color: $white;
      }
    }
  }

  .ding_nodelist-items{

    h2.item-title a {
      color: $charcoal;
      font-size: 16px;
      font-family: $font-family-bold;
    }

    .date,
    .author,
    .item-body {
      color: $charcoal;
      font-family: "SourceSansProRegular";
      font-size: $font-size-max;
    }
  }
}

.ding_nodelist-taxonomy {
  .event-list-leaf .event-list-date-wrapper {
    display: none;
  }

  .item {
    position: relative;
  }

  .event-list-leaf {
    display: none;
  }

  .field-type-taxonomy-term-reference {
    display: inline-block;
    border-radius: 3px;
    width: auto;
    margin-right: 5px;
  }

  .news .label {
    float: none;
  }

  .event-list-fulldate,
  .label {
    float: left;
  }

  .item .item-details,
  .item .item-details.news {
    position: relative;
    padding-bottom: 30px;

    &:after { 
      content: ".";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }
  }

  span.item-library,
  .item-date,
  .item-price,
  .item-body span,
  .event-list-fulldate,
  .more a {
    font-family: $font-family;
    font-size: 16px;
    color: $charcoal;
  }

  .more {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 15px;
  }

  .item .news-link {
    display: block;
    position: absolute;
    bottom: -16px;
    right: -10px;
  }

  .event-list-leaf ~ .item .item-list-image,
  .event-list-leaf ~ .item .item-library {
    display: inline-block;
    @extend .float-left;
  }


  .event-list-leaf ~ .item .item-details {
    @extend .float-right;
    display: inline-block;
    width: 76%;

    .event-arrow-link {
      display: inline-block;
      position: absolute;
      right: 15px;
      bottom: 0;
      top: auto;

      &:after {
        color: $charcoal;
        font-family: $font-family;
        content: 'Læs mere';
        width: 150px;
        font-size: 16px;
      }
    }
  }
}
