/* Ding nodelist styles
   ========================================================================== */

.page-ding-frontpage .ding_nodelist-carousel {
  .ding_nodelist-items {
    .event-image img {
      height: 500px;
    }
  }
}

.ding_nodelist {
  .event-time .event-day,
  .pagination a.selected,
  .field-name-field-ding-event-category {
   background-color: $color-primary;
    color: $charcoal;
    font-family: "SourceSansProSemibold";
    text-transform: uppercase;
    font-weight: 600;
  }

  .pagination {
    top: 30px;

    a {
      background-color: $white;
  
      span {
       color: $charcoal;
      }
    }
  }

  .event-day {
    font-weight: 600;
  }

  .event-date,
  .event-month {
    color: $charcoal;
    text-transform: uppercase;
  }

  .event-date{
    font-family: "SourceSansProSemibold";
  }

  .field-name-field-ding-news-library {
    .field-item a {
      color: $color-primary;
    }
  }

  .library a {
    color: $color-primary;
    text-decoration: underline;
    font-weight: 600px;
  }

  h3.node-title {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .article-info {
    background: transparent;
  }

  .item .node {
    background-image: -webkit-linear-gradient(transparent 0%,rgba(0,0,0,0.3) 0%);
    height: 100%;

    .item-date,
    .library a,
    .item-price {
      font-size: 18px;
      font-weight: 600;
    }

    p {
      font-size: 18px;
    }

    .node-title a {
      font-weight: 600;

      &:hover {
        color: $white;
      }
    }
  }

  .ding_nodelist-items{

    h2.item-title a {
      color: $charcoal;
      font-size: 16px;
      font-family: "SourceSansProSemibold";
      font-weight: 600;
    }

    .date,
    .author,
    .item-body {
      color: $charcoal;
      font-family: "SourceSansProRegular";
      font-size: $font-size-max;
    }
  }
}
